<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <title>Sign in form</title>
</head>
<body>
<section>
    <div class="container mt-5">
        <form method="post" action="/fromLogin">
            <div class="form-row">
                <div class="col-4 offset-4">
                    <h3 class="font-weight-bold">Please sign in:</h3>
                </div>
            </div>
            <div class="form-row">
                <div class="col-4 offset-4">
                    <label class="sr-only" for="email">Email</label>
                    <input class="form-control" id="email" name="j_username" placeholder="Email address" maxlength="100" required/>
                </div>
            </div>
            <div class="form-row">
                <div class="col-4 offset-4">
                    <label class="sr-only" for="password">Password</label>
                    <input class="form-control" id="password" name="j_password" placeholder="Password" maxlength="50" required/>
                </div>
            </div>
            <div class="form-row mt-1">
                <div class="col-4 offset-4">
                    <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>