<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          crossorigin="anonymous">
    <title>User page</title>
</head>
<body>
<section>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-10 pl-3 mt-3">
                <p class="h5" style="color: white">
                    <span class="font-weight-bold" id="user-top-email">E-mail</span> with roles:
                    <span id="user-top-role">Role</span>
                </p>
            </div>
            <div class="col-2 pr-2 mt-2">
                <form method="post" action="/logout">
                    <button type="submit" class="btn btn-link float-right" style="color: grey">Logout</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row vh-100">
            <div class="col-2 px-0 mt-3 bg-white">
                <div sec:authorize="hasAuthority('ADMIN')">
                    <a class="btn btn-link btn-block  text-left" href="/admin">Admin</a>
                </div>
                <a class="btn btn-primary btn-block text-left" href="/user">User</a>
            </div>
            <div class="col-10 px-5 mt-2 bg-light">
                <div class="row">
                    <p class="h2">User information-page</p>
                </div>
                <div class="row">
                    <div class="card flex-fill">
                        <div class="card-header h5">
                            About user
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="user-id">Id</td>
                                    <td id="user-name">First Name</td>
                                    <td id="user-surname">Last Name</td>
                                    <td id="user-age">Age</td>
                                    <td id="user-email">Email</td>
                                    <td id="user-role">Role</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/script.js"></script>
<script th:inline="javascript">const principal = [[${user}]]</script>
<script>
    //Вывод информации о пользователе в таблицу
    function aboutUser(user){
        let elem = document.getElementById("user-id")
        elem.innerText = user.id
        elem = elem.nextElementSibling
        elem.innerHTML = user.name
        elem = elem.nextElementSibling
        elem.innerHTML = user.surname
        elem = elem.nextElementSibling
        elem.innerHTML = user.age
        elem = elem.nextElementSibling
        elem.innerHTML = user.email
        elem.nextElementSibling.innerHTML = user.roles.map(role => role.name).join(" ")
    }
    aboutUser(principal)
    addTopInfo(principal)
</script>
</body>
</html>